# OS files
.DS_Store

# Log files
*.log

# Vendor files
/node_modules
/vendor

# Cache and temporary files
/.cache
/.php-cs-fixer.cache
/.phpunit.*
/index.dev.mjs
/tests/coverage
/tests/*/tmp
/tools/**/vendor
